/* todoHead */
#todoHead {
    line-height: 1.5;
    margin-left: 10px;
    /* border-bottom: 1px solid #eee; */
}

#todoHead>h1 {
    font-size: 1.3em;
}

#todoHead>div:nth-child(2) {
    color: #999;
}

#todoHead>div:last-child {
    padding: 10px 0;
    color: #ffbfc3;
    font-weight: bold;
}

#todoHead>div:last-child>span {
    font-weight: bold;
    padding-left: 5px;
    color: #ff9da3;
    font-size: 1.2em;
}

/* todoInsert */
#todoInsert {
    text-align: center;
    background-color: #eee;
    padding-top: 30px;
}

#todoInsert input {
    /* width: 270px; */
    width: 70%;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 8px;
}

#todoInsert button {
    margin-left: 15px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: #ffbfc3;
    padding: 11px 8px;
    vertical-align: middle;
}

/* todoItem */
#todoItem {
    margin: 8px 0;
}

#todoItem li {
    border-radius: 8px;
    background-color: #fbedea;
    padding: 10px;
    width: 80%;
    display: flex;
    align-items: center;
}

#todoItem li>div:first-child {
    width: 90%;
}

#todoItem li>div:last-child {
    width: 10%;
}

#none {
    display: flex;
    justify-content: center;
    align-items: center;
}