/* todoHead */
#todoHead {
    line-height: 1.5;
    margin-left: 10px;
}
#todoHead > h1 {
    font-size: 1.6em;
}
#todoHead> div:last-child {
    padding: 10px 0;
}
#todoHead> div:last-child > span {
    font-weight: bold;
    padding-left: 5px;
}

/* todoInsert */
#todoInsert {
    text-align: center;
    background-color: #eee;
    padding-top: 30px;
}
#todoInsert input {
    width: 270px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 8px;
}
#todoInsert button {
    margin-left: 15px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: #ccc;
    padding: 8px 5px;
    vertical-align: middle;
}


/* todoList */
#todoList {
}

/* todoItem */
#todoItem {
    margin: 8px 0;
}
#todoItem li {
    border-radius: 8px;
    background-color: #ccc;
    /* height: 40px; */
    padding: 0 5px;
    width: 80%;
    text-align: right;
    line-height: 2.8;
}
#todoItem li > span:first-child {
}
#todoItem li > span:last-child {
    padding: 15px;
}

#none {
    display: flex;
    justify-content: center;
    align-items: center;
}