@media screen and (min-width : 415px) {
    body {
        max-width: 415px;
        margin: 50px auto;
        border: 1px solid #eee;
        border-radius: 36px;
        box-shadow: 5px 5px 3px #ccc;
        background-color: #f1f1f1;
    }
}

@media screen and (max-width : 414px) {
    body {
        border: none;
        box-shadow: none;
        margin: 0 auto;
        border-radius: none;
        background-color: none;
    }

    * {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        color: #222;
    }

    li {
        list-style: none;
    }

}