body {
    border: none;
    box-shadow: none;
    margin: 0 auto;
    background-color: #fafafa;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: #222;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}